{% extends "father.html" %}

{% block title %}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="https://pic.imgdb.cn/item/642ad0faa682492fcc1f723e.jpg" type="image/x-icon">
    <script src="//hm.baidu.com/hm.js?c56a2b5278263aa647778d304009eafc"></script>
    <script type="text/javascript">
var QZZ_TRAVEL_MODULES = {
	 "usercard" : ["//q.qunarzz.com/travel_destination/prd/scripts/module/travel_usercard@1afa186734893699f7ca1a01df626851.js"],
	 "download" : ["//q.qunarzz.com/travel_destination/prd/styles/module/travel_download@cac65c4568d7f295a8793da3839a5364.css",
				  "//q.qunarzz.com/travel_destination/prd/scripts/module/travel_download@020fe833f16e748049e41460ca5400dd.js"],
	 "login_panel" : ["//q.qunarzz.com/travel_destination/prd/scripts/module/travel_login@bb8206951a52e452fd7876e2703f2832.js"],
	 "adcommon" : ["//q.qunarzz.com/travel_destination/prd/styles/module/travel_ad@85e15f4f2cc130fac325c88b04b8ae26.css",
	               "//q.qunarzz.com/travel_destination/prd/scripts/module/travel_ad@264b24abf9e62967863e0e7bfecbd274.js"],

	"collect" : ["//q.qunarzz.com/travel_destination/prd/styles/module/travel_collect@a6376dfed1723041e7ffeb48a35449e8.css",
				 "//q.qunarzz.com/travel_destination/prd/scripts/module/travel_collect@3d42bed518870f1a80285e70e8f5fc78.js"],

    "calendar" : ["//q.qunarzz.com/travel_destination/prd/styles/detail/calendar_citys@82235b114928960b291435896db6530b.css",
                    "//q.qunarzz.com/travel_destination/prd/scripts/detail/calendar_citys@01cc98178bcbe34156dfd3df6727d1b1.js"]

};

    </script>
    <title>洛阳2023旅游线路推荐，洛阳玩法路线，洛阳旅游行程推荐</title>
    <meta content="捷诚为您推荐洛阳经典旅游线路。合理安排1日游、2日游、3日游、多日游等旅游线路及行程推荐。"
          name="description">
    <meta content="洛阳旅游行程推荐,洛阳旅游线路，洛阳玩法路线、洛阳全景4日线路、河南旅游局推荐精华6日线路、洛阳旅发委推荐4日线路、洛阳景点文化2日线路、洛阳周边赏秋2日线路、洛阳经典3日线路、洛阳孟津人文1日线路、洛阳古韵气息2日线路、洛阳自然之旅2日线路、洛阳博物馆文化之旅2日线路 "
          name="keywords">
    <meta name="mobile-agent" content="format=html5; url=http://touch.go.qunar.com/299788/albums?type=1">
    <link rel="alternate" media="only screen and(max-width: 640px)"
          href="http://touch.go.qunar.com/299788/albums?type=1">
    <script>
				var PRE_SID = '1117';
				var SID = '1117';

    </script>
    <link href="//q.qunarzz.com/travel_destination/prd/styles/qn_resetcss@5fbd502f82782d9638d045602f01bb3e.css"
          rel="stylesheet" type="text/css">

    <link href="//q.qunarzz.com/travel_destination/prd/styles/detail_list@a70d58354bc323d25e5fd17edcc88243.css"
          rel="stylesheet" type="text/css">
    <script>
        var PAGE_TYPE = "district";
		var PRE_DEST_ID = 299788;
		var PRE_DEST_NAME = '洛阳';
		var PRE_IS_ABROAD = false;
		var DETAILTYPE = 6;
		var PRE_LEVEL = 6;//level
		var USER_ID = ''
		var COMMENTTYPE = 10308;
		var IMG_COUNT = "";
		var edmParams = "";
		var HOST_NAME = 'http://travel.qunar.com/place';

    </script>
    <style type="text/css" id="qunar-assist-style">.topbar-html,
.readscreen-html {
  width: 100%;
  background: #2a2e3e;
  overflow: hidden;
  z-index: 2147483645;
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px 2px #999;
  left: 0;
  right: 0;
}
.topbar-html-theme-a,
.readscreen-html-theme-a {
  height: 52px;
  line-height: 51px;
  width: 52px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #2a2e3e;
  font-size: 45px;
  text-align: center;
}
.topbar-html-service,
.readscreen-html-service {
  width: 227px;
  height: 100%;
  margin: 0 !important;
}
.topbar-html-service-box,
.readscreen-html-service-box {
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 600;
  text-align: left;
  margin: 25px 0 0 82px;
}
.topbar-html-service-box div:nth-child(1),
.readscreen-html-service-box div:nth-child(1) {
  font-family: PingFangSC-Semibold;
  margin-bottom: 8px;
}
.topbar-html-service-box div:nth-child(2),
.readscreen-html-service-box div:nth-child(2) {
  font-family: PingFangSC-Regular;
  font-weight: 400;
}
.topbar-html-mright,
.readscreen-html-mright {
  margin-right: 72px !important;
}
.topbar-html-margin0,
.readscreen-html-margin0 {
  margin: 0 !important;
}
.topbar-html-mleft,
.readscreen-html-mleft {
  margin-left: auto !important;
}
.topbar-html-zoomState,
.readscreen-html-zoomState {
  color: #03cde9 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  min-width: 28px;
  text-align: center;
  position: absolute;
  top: 0;
  right: -24px;
}
.topbar-html-content,
.readscreen-html-content {
  width: 80%;
  min-width: 1150px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar-html-content-item,
.readscreen-html-content-item {
  cursor: pointer;
  margin: -10px 8px 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topbar-html-content-item span,
.readscreen-html-content-item span {
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: PingFangSC-Medium;
}
.topbar-html-content-item img,
.readscreen-html-content-item img {
  height: 52px;
  width: 52px;
  border-radius: 8px;
  display: block;
}
.bigtext-html {
  z-index: 99999999999;
  height: 150px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #505050;
}
.bigtext-html-content {
  height: 100%;
  background-color: #ffffff;
  font-size: 53px;
  color: #333 !important;
  text-align: center;
  font-weight: bold;
}
.pointer-follow-html-x, .pointer-follow-html-y {
  z-index: 99999999999;
  transform: none;
  transform-origin: 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff0000 !important;
  width: 100%;
  height: 4px;
}
.pointer-follow-html-y {
  height: 100%;
  width: 4px;
}
.bigtext-html {
  z-index: 99999999999;
  height: 150px;
  line-height: 74px !important;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #797f8d;
  background-color: #ffffff;
}
.bigtext-html-content {
  height: 100%;
  background-color: #ffffff;
  font-size: 53px;
  color: #333 !important;
  text-align: center;
  font-weight: bold;
  width: 93%;
  margin: 0 auto;
}
.bigtext-html-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.bigtext-html-bone {
  width: 100%;
  height: 151px;
}
@charset "UTF-8";
.readscreen-html-spaceline {
  position: relative;
}
.readscreen-html-spaceline:after {
  content: "";
  width: 1px;
  height: 64px;
  background-image: linear-gradient(180deg, #2a2e3e 0%, #e4e4e4 45%, #2a2e3e 100%);
  border-radius: 1px;
  position: absolute;
  top: 9px;
  z-index: 1;
  right: -30px;
}
.readscreen-html-hover {
  padding: 10px;
  border-radius: 10px;
  margin-top: 0px;
}
.readscreen-html-hover:hover {
  background: rgba(255, 255, 255, 0.2);
}
.readscreen-html-logo {
  margin-top: 2px;
}
.readscreen-html-logo img {
  width: 104px !important;
  height: 50px !important;
}
.readscreen-html-logo:after {
  top: -4px;
}
.readscreen-html-utils {
  display: flex;
}
.readscreen-html-utils div {
  margin-right: 6px;
}
.readscreen-html-content {
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 600;
}
.readscreen-html-content-item {
  margin-right: 55px;
}
.readscreen-html-content p {
  margin: 0;
}
.readscreen-html-content label {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #ffffff;
  border-radius: 10px;
  margin: 2px 0 0 4px;
  font-size: 18px;
  color: #2a2e3e;
  text-align: center;
}
.readscreen-html-content-item {
  justify-content: center;
}
.readscreen-html-mask {
  opacity: 0.1;
  background-color: black;
  top: 0px;
  z-index: 2147483610;
  position: fixed;
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: block;
}

.assist-underline {
  outline: 1px dashed #89a0c2 !important;
  outline-width: thin !important;
  outline-style: dashed !important;
  outline-color: #89a0c2 !important;
}

.assist-selected * {
  background-color: #dde4ed !important;
  color: #333333 !important;
}

.assist-voiceover {
  max-width: 1px !important;
  float: left !important;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  display: block !important;
  position: absolute !important;
}
.assist-voiceover:after {
  content: "​";
  display: block;
  height: 0;
  clear: both;
}
    </style>
    <link rel="stylesheet" type="text/css"
          href="//q.qunarzz.com/travel_new_plan/prd/styles/comsearch/suggest.css?20230222195502">
    <script src="//q.qunarzz.com/travel_new_plan/prd/scripts/travel/search-0.0.6.js?20230222195502"></script>
    <script type="text/javascript" src="http://bc.qunar.com/js/ga.min.js"></script>
    <link type="text/css" rel="stylesheet"
          href="http://q.qunarzz.com/travel_destination/prd/styles/module/travel_ad@85e15f4f2cc130fac325c88b04b8ae26.css">
    <script type="text/javascript"
            src="http://q.qunarzz.com/travel_destination/prd/scripts/module/travel_ad@264b24abf9e62967863e0e7bfecbd274.js"></script>
</head>
{% endblock %}

{% block body %}
<body class=" assist-theme-default">
<!-- =============  header ================== -->
<link data-hfstamp="20230222195502" id="hf-style" data-hffile="header_place_styles" rel="stylesheet"
      href="//common.qunarzz.com/hf_qzz/prd/styles/travel/header_place@cbb7e8eeb2374b470ee0ca7ab7b5b807.css">


<div class="qn_main_box" style="zoom: 1;">
    <div class="qn_main">

        <div class="qn_main_ct clrfix">
            <div class="qn_main_ct_l">


                <!-- 线路 热门线路 --> <!-- 景点列表 -->
                <div class="b_route_new" id="route_hotlinebox">
                    <div class="countbox">
                        <div class="routebox current" id="xl_30838">
                            <div class="hd_box">
                                <div class="titbox"><span class="tit">洛阳全景4日线路</span></div>
                                <div class="desbox">
                                    <div class="des">
                                        路线整体上是以游古城为主，挑选一天来赏花，假期带着家人来洛阳，享受人间天伦之乐。本条路线不仅适合家庭游，好友同游也可以进行参照。
                                    </div>
                                    <div class="d_note">适合人群：家庭游　　适合月份：4，5月份</div>
                                </div>
                            </div>
                            <div class="ct_box">
                                <div class="day_box">
                                    <div class="list_daybox">
                                        <div class="list_day first">
                                            <div class="titbox">
                                                <div class="icon_day">D1</div>
                                                <div class="day_mask"></div>
                                                <span class="d_tit"><span class="t">洛阳：</span><a
                                                        data-beacon="line_sight"
                                                         class="link"
                                                        target="_blank">白马寺</a> &gt; <a data-beacon="line_sight"

                                                                                           class="link" target="_blank">天子驾六博物馆</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link"
                                                        target="_blank">隋唐洛阳城国家遗址公园天堂明堂景区</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">丽景门景区</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">洛阳老街</a></span></div>
                                            <div class="des">DAY1
                                                【路线】白马寺→天子驾六博物馆→隋唐洛阳城国家遗址公园→丽景门→洛阳老街

                                                第一天的行程从白马寺开始，白马寺附近就有公交车，但是对于初到洛阳的你还是选择出租车比较方便。门票35元。白马寺是佛教传入我国后第一座由官府建造的寺院，历来被尊为中国佛教的“祖庭”和“释源”。大佛殿是主殿，大雄殿内摆放着镇寺之宝。三座墓地也非常值得一看。天子驾六博物馆，位于洛阳市中心，规模虽然小，但是我国惟一一处以原址展示的博物馆。博物馆分为两个展区。进入馆内的首先是第一展区。这里有东周时期的历史介绍和一些青铜器。向西穿过一段不长的走道，进入第二展区，这里是博物馆的重点参观区域。门票30元，可以提前预定。接着步行到隋唐洛阳城国家遗址公园，这里最为出名的是武则天时期的明堂和天堂。明堂是宫城的正殿，《狄仁杰之通天帝国》中的通天浮屠的原型就在这里。天堂是武则天礼佛的地方，可以乘坐电梯直达九层，俯瞰洛阳全景，夜景更是不容错过。“不到丽景门，枉来洛阳城”，丽景门是洛阳古城的西大门，有着“古都第一门”的美誉。从丽景门进入就是洛阳老街。老街更多的保持了原始的风貌，青石板路，砖房店面，在这里可以享受到最地道的洛阳美食。晚上的老街更是为人们展现了洛阳人民的最真实的生活状态。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a data-beacon="line_poi_pic"

                                                                               class="imglink" target="_blank">
                                                            <div class="titbox">白马寺</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="白马寺"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/1dee71f0e292c0e0c9d6ff5ffb011592.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a data-beacon="line_poi_pic"

                                                                               class="imglink" target="_blank">
                                                            <div class="titbox">洛阳老街</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="洛阳老街"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/1de8a4a997ad0ffe864889658cac88c8.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">餐饮：</span></div>
                                            <div class="des">
                                                来到洛阳一定要品尝当地的特色水席。山楂酪，八宝饭，糊涂面值得一尝。百碗羊汤是当地口碑不错的小馆，菜量很足，推荐羊汤、糖蒜、饼和羊肉串。价格实惠。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">管记水席老店</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="管记水席老店"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/0759ecf7053171ce077539abc976a90a.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">百碗羊汤(丽景店)</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="百碗羊汤(丽景店)"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/b1490200e320aed5bbe58edc88dde144.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">住宿：</span></div>
                                            <div class="des">
                                                酒店建议住在老街附近。洛阳丽景门景区亚朵酒店距离丽景门有一定的距离，但是距离博物馆很近。酒店服务好，房间舒适，干净。算是闹中取静。洛阳安喜门国际青年旅舍位置好，环境好。性价比高。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳丽景门景区亚朵酒店</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="洛阳丽景门景区亚朵酒店"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/baec5ace6ce0853d3abd1588e5b582c5.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳安喜门国际青年旅舍</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="洛阳安喜门国际青年旅舍"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/ff1dfd965f851ff61827c59e5a292d33.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="list_day">
                                            <div class="titbox">
                                                <div class="icon_day">D2</div>
                                                <div class="day_mask"></div>
                                                <span class="d_tit"><span class="t">洛阳：</span><a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">关林庙</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">龙门石窟</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">西山石窟</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">东山石窟</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">洛阳老街</a></span></div>
                                            <div class="des">DAY2
                                                【路线】关林庙→龙门石窟→东山石窟→西山石窟→老街

                                                第二天的一早从洛阳老城出发到关林庙，规模不大，但是香火极旺，这里埋葬着蜀汉名将关羽关二爷的首级。来到关林庙，除了拜祭武圣人关二爷之外，明代仪门上的七七四十九颗门钉和清代大门上的九九八十一颗门钉也值得一看。来到仪门和二殿时，：看看分别出自慈禧太后和光绪皇帝之手的两块牌匾。拜殿能看到两边有一百多尊“甬柱顶雕石狮”，大殿和二殿内，还有不少和关羽相关的木刻和雕像。关林庙距离龙门石窟不远，从关林庙乘坐67、71路公交车到达龙门石窟。龙门石窟位列世界文化遗产名录，是河南洛阳的必去景点。石窟分为西山和东山两部分，西山石窟开凿于北朝和隋唐时期，是龙门精华的部分，包括奉先寺的卢舍那佛像和古阳洞中的“龙门二十品”。看完西山石窟过漫水桥便是东门石窟，这里多是唐代作品，曾有“西山一山，不如东山一湾”的说法。如今的东山石窟早已没有当年的盛景。从龙门石窟出来已经是傍晚时分，乘车到老街。享一顿晚餐，结束一天的行程。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a data-beacon="line_poi_pic"

                                                                               class="imglink" target="_blank">
                                                            <div class="titbox">关林庙</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="关林庙"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/2db450d4ba084c8824ed2959898cb6ef.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a data-beacon="line_poi_pic"

                                                                               class="imglink" target="_blank">
                                                            <div class="titbox">龙门石窟</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="龙门石窟"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/c18c6a732f6d674dcfafc6b16a653fd0.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">餐饮：</span></div>
                                            <div class="des">
                                                小吃街上有很多地道的当地特色，牡丹燕菜，不翻汤，糖油粑粑，牛肉合子，油茶都值得一品。阎家羊肉汤在洛阳很出名。羊肉汤已传四代人，当天用肉，当天宰羊；香料齐全、量大。咸淡适口，汤味鲜美。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">小吃街</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="小吃街"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/ad79aac5f1f5f74d98ab2fc70664b5af.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">阎家羊肉汤</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="阎家羊肉汤"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/bac05263abd59a3eb7a7b3c7a115a86a.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">住宿：</span></div>
                                            <div class="des">
                                                酒店建议住在老街附近。酒店地理位置优越，配套设施齐全，房间干净整洁光线充足，服务态度很好。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳东华大酒楼</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="洛阳东华大酒楼"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/1248c9015c1ca64e49297bd1e8e74be5.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳家印象时尚酒店</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="洛阳家印象时尚酒店"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/08d8b8689c3e51d15e5e12bc7e49a254.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="list_day">
                                            <div class="titbox">
                                                <div class="icon_day">D3</div>
                                                <div class="day_mask"></div>
                                                <span class="d_tit"><span class="t">洛阳：</span><a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">王城公园</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">洛阳博物馆</a> &gt; <a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">洛阳古墓博物馆</a></span></div>
                                            <div class="des">DAY3
                                                【路线】王城公园→洛阳博物馆→洛阳古代艺术博物馆

                                                来洛阳看最美牡丹花。一早起来，从古街出发到达王城公园，由古文化区、牡丹花圃、动物馆、游乐场等几个部分组成。每年的牡丹花会期间，王城公园都是古城的最佳赏花处。牡丹区最受游客喜爱，由几个大型牡丹花圃组成，栽种了牡丹万余株，动物馆在公园北部，这里栖息着大熊猫、东北虎、华南虎、丹顶鹤等50多种珍禽异兽。下午来到洛阳博物馆，虽然是个地级市的博物馆，但是馆藏数量和质量绝对可以媲美很多省级大馆，博物馆目前免费对公众开放，在大门领票处领取参观券后，即可进入馆内参观。可以在博物馆的一楼租借讲解器或者聘请讲解员。带你好好的了解一下历史文化。洛阳古代艺术博物馆原名洛阳市郊北邙山的古墓博物馆，是我国最大的古墓专题性博物馆，也是世界上第一座古墓博物馆。对古墓文化感兴趣的同学可以来这里看看。晚上可以看一场《功夫诗·九卷》演出，注意，周一闭馆，票价相对较贵，但是精彩的演出，呈现出的视觉效果，表达出的文化真谛是绝对与价格成正比。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a data-beacon="line_poi_pic"

                                                                               class="imglink" target="_blank">
                                                            <div class="titbox">王城公园</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="王城公园"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/5b7805c0f69b80177af4b0c2a25f93c7.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a data-beacon="line_poi_pic"

                                                                               class="imglink" target="_blank">
                                                            <div class="titbox">洛阳博物馆</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="洛阳博物馆"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/1575257b44e6f9ec1348cbd0f784bc42.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">餐饮：</span></div>
                                            <div class="des">
                                                小街锅贴，是深受洛阳市民喜爱的美食，颇有些名气。25元一斤，一般一个成年男子吃4两就能够饱，咬一口，里面还会有汤汁流出，口感滑嫩，外脆内软。也供应馄饨、米线、面条、烧麦等。老雒阳面馆水席名气很大，王城公园跟前，歇脚方便。上菜快，价格便宜。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">小街锅贴</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="小街锅贴"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/6c36f9f89a7f20ab0a9a0dd258c7845f.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">老雒阳面馆(王城路店)</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="老雒阳面馆(王城路店)"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/41f2471f3ed4836e0e37e309b1ca092f.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">住宿：</span></div>
                                            <div class="des">
                                                酒店建议随着自己的旅游目的地随机改变。酒店价格合适，房间舒适宽敞，交通便利，位置好找。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳中原驿国际青年旅舍</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="洛阳中原驿国际青年旅舍"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/f2000011d565d12cab2c5de930795c53.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳王府井吾朵酒店</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="洛阳王府井吾朵酒店"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/2fffbc8d146191afb2dc5d3b9b099a5a.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="list_day last">
                                            <div class="titbox">
                                                <div class="icon_day">D4</div>
                                                <div class="day_mask"></div>
                                                <span class="d_tit"><span class="t">栾川：</span><a
                                                        data-beacon="line_sight"

                                                        class="link" target="_blank">老君山景区</a></span></div>
                                            <div class="des">DAY4
                                                【路线】老君山

                                                老君山相传是道教始祖老子的归隐修炼之地，被封为“天下名山”，历来香火极旺。山中树木茂盛，风景如画。如果你去山顶，还有机会观赏到极美的云海和日出。老君山主要分为居中的老君山主景区、西部的追梦谷景区和东部的寨沟景区。用一天的时间游玩居中的老君山主景区，这也是整个老君山风景区开放最为完善的区域。你可以根据自身的情况，选择全程步行或者“步行+索道”的方式游玩老君山。基本路线是：灵观殿-山脚下的老君像-淋醋殿-中天门-林荫步道-卧云松-菩萨殿-老君庙、金顶-玉皇顶，然后原路返回。这里所有产品均需至少提前一天购买。记得要提前一天预定哦。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a data-beacon="line_poi_pic"

                                                                               class="imglink" target="_blank">
                                                            <div class="titbox">洛阳老君山</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="洛阳老君山"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/31caa29153b098b2d36e7894ab8cc545.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">餐饮：</span></div>
                                            <div class="des">
                                                午餐可以自己自行解决，老君山上也有吃饭的地方，但是由于是景区，价格可能会偏贵。晚上到司马水席楼或者是真不同饭店就餐，环境一般，但是里面的糊涂面还是值得一尝的。真不同饭店是洛阳鼎鼎有名的饭店，更是当地游客的打卡胜地。在这里可以品味传统洛阳美食，感受洛阳悠久的水席文化。
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">司马水席楼</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="司马水席楼"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/b809df960bf84724efe0f9ca2a32c91e.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">真不同饭店(中州东路店)</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="真不同饭店(中州东路店)"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/fee81811ed0c2477bd5762f36e200068.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub_titbox"><span class="d_tit">住宿：</span></div>
                                            <div class="des">
                                                酒店建议住在距离机场或者是火车站较近的地方。方便出行离开。两个酒店房间舒适，宽敞。被褥干净，价格便宜。性价比很高
                                            </div>
                                            <div class="imglistbox">
                                                <ul class="list_item clrfix">
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳巴比伦主题宾馆</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img"
                                                                 alt="洛阳巴比伦主题宾馆"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/c5d83451cad9e30f9f3d820110c4e2c0.jpg"></a>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <div class="imgbox"><a

                                                                class="imglink" target="_blank">
                                                            <div class="titbox">洛阳乔世宾馆</div>
                                                            <div class="titboxbg"></div>
                                                            <img width="300" height="202" class="img" alt="洛阳乔世宾馆"
                                                                 src="https://tr-osdcp.qunarzz.com/tr-osd-tr-manager/img/d798df3667647f8e5e0c7f3a2ebf7d44.jpg"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toolbox"><a href="#" target="_blank" class="btn collect">收起 <span
                                            class="icon"></span></a><a href="#" target="_blank" class="btn expand">详情
                                        <span class="icon"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /线路 热门线路 -->
                <!-- 去了某某地的人还去了 -->
                <!-- /去了某某地的人还去了 -->

            </div>

        </div>
        <!-- /页面左右布局 -->

        <!-- b_place_index -->

        <!-- /b_place_index -->

    </div>
</div>

<!-- =============  footer ================== -->


<script type="text/javascript" src="//q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
        src="//q.qunarzz.com/travel_destination/prd/scripts/dest_common@b4a0195cc8a1845235f7652b37a5667a.js"></script>
<script defer="" async="" type="text/javascript"
        src="//q.qunarzz.com/wza/prd/20220112/aria.js?appid=e782b5d33648b0e9e232f0c085231e7a"></script>
<script type="text/javascript"
        src="//q.qunarzz.com/travel_destination/prd/scripts/detail_list@0cdfe35867537e6ab713c1e701110535.js"></script>
<div id="sidetool" class="b_sidetool clrfix" style="zoom: 1;">
    <div class="sidetool_inner">

        <div class="e_tool_con"></div>
    </div>
</div>
<script defer="" async="" type="text/javascript"
        src="//q.qunarzz.com/wza/prd/20220112/aria.js?appid=e782b5d33648b0e9e232f0c085231e7a"></script>
<!--baidu统计 -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?c56a2b5278263aa647778d304009eafc";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

</script>
<!--/baidu统计 -->


<script type="text/javascript" src="https://rmcsdf.qunar.com/js/df.js?org_id=ucenter.login&amp;js_type=0"></script>
<script type="text/javascript"
        src="https://rmcsdf.qunar.com/js/device.js?orgId=ucenter.login&amp;sessionId=4319ba36-f622-43a6-ab9e-77a355e6c131&amp;auto=false"></script>
<iframe name="TStorage" frameborder="0" width="0" height="0" scrolling="no"
        src="//travel.qunar.com/travelbook/storage.html" style="zoom: 1;"></iframe>
</body>
{% endblock %}
