<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="洛阳日程">
  <meta name="description" content="捷程日程规划，洛阳日程">
  <meta name="google-site-verification"
        content="DVVM1p1HEm8vE1wVOQ9UjcKP--pNAsg_pleTU5TkFaM">
  <title>【洛阳日程】—— 捷程日程规划</title>
   <link rel="shortcut icon" href="https://pic.imgdb.cn/item/642ad0faa682492fcc1f723e.jpg" type="image/x-icon">
  <link rel="stylesheet" href="//common2.qyerstatic.com/plan/desktop/preview/css/style.609f7575a138867d073ba4bc047f1e8f.css">
  <script>
    window.QYER = {
      uid: [0][0] || 0
    };
    window._RATrack = window._RATrack||{
      'platform': 'web',
      'channel':'plan',
      'page_type':'detail',
      'ugc_type':'plan_trip',
      'ugc_content':'10822624'
    };
  </script>

<style id="extend-style"></style>
<script>
  window._codeid = 'V2UJY1FuBzRTZlI5Cm4NOg/';
  window._isspider = !![][0];

  var jiathis_config={
      summary:"",
      pic:'https://pic3.qyer.com/plan/cover/2016/0503155802/6008820/index/w1080',
      info_tran: ''
    }
</script>

  <script src="//common1.qyerstatic.com/plan/desktop/shared/js/header.13279a158cc270ea4b84233e3507cec4.js"></script>
</head>


<body>
<div id="daohang" style="width:100%;height:70px;background:white;clear:both;position:fixed;top:0;z-index:999;margin-bottom:70px;border-bottom:1.5px solid #eeeeee;box-shadow: 0 1.5px 1.5px 0 rgba(223,223,223,1)">
        <div class="container" style="width:1280px;height:100%;margin:auto;clear:both">
            <div class="left" style="float:left;width:20%;height:80%;margin:8px 0px 5px 10px;">
                <div style="float:left"><img src="https://pic.imgdb.cn/item/643237b90d2dde5777defde7.jpg" alt="logo" style="width:55px; height:55px;margin-right:5px;"></div>
                <div style="float:left;width:150px;height:55px;margin-top:6px;">
                    <div><span style="font-weight: bold;font-size:25px;font-family:cursive;color:#00925f;letter-spacing:2px;">捷诚旅行</span></div>
                    <div><span style="font-size:15px;font-style:Monaco;color:#858383">Jiecheng Travel</span></div>
                </div>
            </div>
            <div class="right" style="width:60%;height:100%;float:left">
                  <ul style="flex-direction:column;">
                      <li><a href="/home" class="first" style="text-decoration:none;">首页</a></li>
                      <li><a href="/plan" style="text-decoration:none;">个性化规划</a></li>
                      <li style="background:#66cc99;"><a href="/schedule2" style="color:white;text-decoration:none;">日程规划</a></li>
                      <li><a href="/blind" style="text-decoration:none;">旅游盲盒</a></li>
                      <li><a href="/poi" style="text-decoration:none;">景点一览</a></li>
                      <li><a href="/classic" style="text-decoration:none;">热门路线</a></li>
                      <li ><a href="/journal" style="text-decoration:none;">旅客游记</a></li>
                  </ul>
            </div>
            <div class="ri" style="float:left;margin:25px 0px 0px 20px;">开启专属于你的个性化旅程</div>
                <style>
                    *{
                    margin:0;
                    padding:0;
                    }
                    li{list-style:none;}
                    a{text-decoration:none;}
                    #daohang .right li{
                    padding:0px 18px;
                    height:100%;
                    float:left;
                    font-size:18px;
                    line-height:70px;
                    }
                    #daohang .right li:hover{
                    background:#66cc99;#79c8c8;
                    }
                    #daohang .right a{
                    color:#00925f;
                    }
                    #daohang .right a:hover{
                    color:white;
                    }
                </style>
            </div>
            </div>

<header class="top_header" style="margin-top:70px;">
    <!-- 背景图 -->
    <div class="bg" style="background-image:url(https://img.zcool.cn/community/01b9b560ab0c6e11013eaf706ca5e6.jpg@1280w_1l_2o_100sh.jpg),url(//fes.qyerstatic.com/_plan_/desktop/preview/img/default_1100x576.png)"></div>
    <section>
      <!-- 前景图 -->

      <div class="fg" style="background-image:url(https://img.zcool.cn/community/01b9b560ab0c6e11013eaf706ca5e6.jpg@1280w_1l_2o_100sh.jpg),url(//fes.qyerstatic.com/_plan_/desktop/preview/img/default_1100x576.png)"></div>

      <!-- 渐变遮罩 -->
      <div class="mask-top"></div>
      <div class="mask-bottom"></div>

      <!-- 面包屑 -->
            <div class="breadcrumbs">
        <a style="font-family:KaiTi">捷程旅游规划</a>
        <em class="iconfont"></em>
        <a  target="_blank" style="font-family:KaiTi">日程规划</a>
        <em class="iconfont"></em>
                  <a style="font-family:KaiTi">旅游线路</a>
      </div>

      <!-- 行程基本信息：头像、标题、出发时间、同游者 -->
      <div class="basic-info">

        <section class="vm">
          <div class="vm-inner">

                                <h1 style="font-family:KaiTi">

                        春季洛阳日程规划


                         </h1>

            <p>
                              <span>出发时间：8:00</span>
                                        </p>
          </div>
        </section>
      </div>



      <!-- 上传封面 -->

    </section>

    <!-- 遮罩 -->
      </header>



<div id="wrapper">
    <section>
 <div class="day" data-day-index="2">
     <header>
          <h2>^_^</h2>
          <div class="text-container vm">
            <div class="vm-inner">
                                              <h3>8:00<span class="sep">|</span>查看本次日程</h3>
                            <h4>
                                                                                                <a  target="_blank" data-bn-ipg="planview-content-city">洛阳&nbsp;LuoYang</a>
                                                                    </h4>
                <h5>
                    <a href="龙门石窟1.html"target="_blank" data-bn-ipg="planview-content-city">龙门石窟</a>
                  <em class="iconfont"></em>
                    <a href="白马寺1.html"target="_blank" data-bn-ipg="planview-content-city">白马寺</a>

                    <em class="iconfont"></em>
                    <a href="王城公园1.html"target="_blank" data-bn-ipg="planview-content-city">王城公园</a>
 <em class="iconfont"></em>





                       <a href="洛阳博物馆1.html"target="_blank" data-bn-ipg="planview-content-city">洛阳博物馆</a>
                    <em class="iconfont"></em>
                    <a href="丽景门1.html"target="_blank" data-bn-ipg="planview-content-city">丽景门景区</a>
                                                                    </h5>
            </div>
          </div>
        </header>


 <article class="poi clearfix" style="" >
        <div class="dotted bottom"></div>
            <a href="龙门石窟1.html" target="_blank" data-bn-ipg="planview-content-poi-pic">
        <figure>
                                                                                                            <img src="龙门石窟1.html" onerror="this.src='https://img95.699pic.com/photo/50119/6738.jpg_wh860.jpg'">

                      </figure>
      </a>
    <section>
    <!-- 交通 -->

    <!-- 优选 -->

    <!-- 景点 -->
          <h5 class="ellipsis">
                  <a title="龙门石窟" href="龙门石窟1.html" target="_blank" data-bn-ipg="planview-content-poi-title">龙门石窟</a>






              </h5>
      <p>
                                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>

<div class="text-container">
        <br>
        <br>
<p> <span><b>预计   :</b></span>8：00<span><b>到达景点</b></span></p>
           <p> <span><b>预计游玩时间:</b></span>50<span><b>分钟</b></span></p>


           <p> <span><b>温馨提醒   :</b></span>春季出行注意换季保暖，预防花粉过敏，防止昆虫叮咬，如选择旅行社，建议选择正规旅行社，注意保护好个人人身安全，以及保护好财产安全，尽量错峰出行，祝您旅行愉快！</p>



          </div>


      </section>

</article>
<div class="sep" data-status="finish" data-bn-ipg="planview-content-traffic" data-tripmode="driving">
  <em class="iconfont"></em>
  <span>53分钟</span>
</div>

  <article class="poi clearfix" style="" >
        <div class="dotted bottom"></div>
            <a href="白马寺1.html" target="_blank" data-bn-ipg="planview-content-poi-pic">
        <figure>
                                                                                                            <img src="白马寺1.html" onerror="this.src='https://img1.qunarzz.com/travel/d7/201311/03/f3bff14efcef9271ddb12cfb.jpg_480x360x95_f5e30aa3.jpg'">

                      </figure>
      </a>
    <section>
    <!-- 交通 -->

    <!-- 优选 -->

    <!-- 景点 -->
          <h5 class="ellipsis">
                  <a title="白马寺" href="白马寺.html" target="_blank" data-bn-ipg="planview-content-poi-title">白马寺</a>






              </h5>
      <p>
                                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont gray"></em>

<div class="text-container">
        <br>
        <br>
<p> <span><b>预计   :</b></span>9：43<span><b>到达景点</b></span></p>
           <p> <span><b>预计游玩时间:</b></span>120<span><b>分钟</b></span></p>


           <p> <span><b>温馨提醒   :</b></span>春季出行注意换季保暖，预防花粉过敏，防止昆虫叮咬，如选择旅行社，建议选择正规旅行社，注意保护好个人人身安全，以及保护好财产安全，尽量错峰出行，祝您旅行愉快！</p>



          </div>


      </section>

</article>
 <div class="sep" data-status="finish" data-bn-ipg="planview-content-traffic" data-tripmode="driving">
  <em class="iconfont"></em>
  <span>39分钟</span>
</div>
       <article class="poi clearfix" style="" >
        <div class="dotted bottom"></div>
            <a href="王城公园1.html" target="_blank" data-bn-ipg="planview-content-poi-pic">
        <figure>
                                                                                                            <img src="王城公园1.html" onerror="this.src='https://youimg1.c-ctrip.com/target/100j0x000000l4ofj22CA.jpg'">

                      </figure>
      </a>
    <section>
    <!-- 交通 -->

    <!-- 优选 -->

    <!-- 景点 -->
          <h5 class="ellipsis">
                  <a title="王城公园" href="王城公园1.html" target="_blank" data-bn-ipg="planview-content-poi-title">王城公园</a>






              </h5>
      <p>
                                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont gray"></em>

<div class="text-container">
        <br>
        <br>
<p> <span><b>预计   :</b></span>13：00<span><b>到达景点</b></span></p>
           <p> <span><b>预计游玩时间:</b></span>90<span><b>分钟</b></span></p>


           <p> <span><b>温馨提醒   :</b></span>春季出行注意换季保暖，预防花粉过敏，防止昆虫叮咬，如选择旅行社，建议选择正规旅行社，注意保护好个人人身安全，以及保护好财产安全，尽量错峰出行，祝您旅行愉快！</p>



          </div>


      </section>

</article>
<div class="sep" data-status="finish" data-bn-ipg="planview-content-traffic" data-tripmode="driving">
  <em class="iconfont"></em>
  <span>12分钟</span>
</div>


   <article class="poi clearfix" style="" >
        <div class="dotted bottom"></div>
            <a href="洛阳博物馆1.html" target="_blank" data-bn-ipg="planview-content-poi-pic">
        <figure>
                                                                                                            <img src="洛阳博物馆1.html" onerror="this.src='https://img1.qunarzz.com/travel/d1/1602/38/b9f79a123fa591f7.jpg_r_480x360x95_20812825.jpg'">

                      </figure>
      </a>
    <section>
    <!-- 交通 -->

    <!-- 优选 -->

    <!-- 景点 -->
          <h5 class="ellipsis">
                  <a title="洛阳博物馆" href="洛阳博物馆1.html" target="_blank" data-bn-ipg="planview-content-poi-title">洛阳博物馆</a>






              </h5>
      <p>
                                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont gray"></em>

<div class="text-container">
        <br>
        <br>
<p> <span><b>预计   :</b></span>14:32<span><b>到达景点</b></span></p>
           <p> <span><b>预计游玩时间:</b></span>60<span><b>分钟</b></span></p>


           <p> <span><b>温馨提醒   :</b></span>春季出行注意换季保暖，预防花粉过敏，防止昆虫叮咬，如选择旅行社，建议选择正规旅行社，注意保护好个人人身安全，以及保护好财产安全，尽量错峰出行，祝您旅行愉快！</p>


          </div>


      </section>

</article>
      <div class="sep" data-status="finish" data-bn-ipg="planview-content-traffic" data-tripmode="driving">
  <em class="iconfont"></em>
  <span>18分钟</span>
</div>
            <article class="poi clearfix" style="" >
        <div class="dotted bottom"></div>
            <a href="丽景门1.html" target="_blank" data-bn-ipg="planview-content-poi-pic">
        <figure>
                                                                                                            <img src="丽景门1.html" onerror="this.src='https://img1.qunarzz.com/travel/d3/1702/14/bfa9b3f25c0f65b5.jpg_r_1360x1360x95_47022b27.jpg'">

                      </figure>
      </a>
    <section>
    <!-- 交通 -->

    <!-- 优选 -->

    <!-- 景点 -->
          <h5 class="ellipsis">
                  <a title="丽景门景区" href="丽景门1.html" target="_blank" data-bn-ipg="planview-content-poi-title">丽景门景区</a>






              </h5>
      <p>
                                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont green"></em>
                    <em class="iconfont gray"></em>

<div class="text-container">
        <br>
        <br>
<p> <span><b>预计   :</b></span>15：50<span><b>到达景点</b></span></p>
           <p> <span><b>预计游玩时间:</b></span>180<span><b>分钟</b></span></p>


           <p> <span><b>温馨提醒   :</b></span>春季出行注意换季保暖，预防花粉过敏，防止昆虫叮咬，如选择旅行社，建议选择正规旅行社，注意保护好个人人身安全，以及保护好财产安全，尽量错峰出行，祝您旅行愉快！</p>


          </div>


      </section>

</article>

</div>


    </section>
    <aside class="sidebar" style="">
      <!--ad layer-->
              <div class="mkt_zone loaded nocontent" style="width: 440px; height: 80px; margin-bottom: 10px; padding: 0px; position: relative; border: 0px; display: none;" id="zoneid-25" data-countries="13" data-areas=""></div>
            <!--/ad layer-->
      <!-- 地图 -->
      <div class="map">
        <div id="map-container" class="container">
          <img src="//fes.qyerstatic.com/FoAOjLTT73vqaHK1jMfsiWmwWKJZ?imageslim">
          <a href="map2.html" data-bn-ipg="plan_preview_map" target="_blank" class="fullscreen">
            <img src="//fes.qyerstatic.com/FtCXzYQUj6IYzBCDQXXEAxz3AU6T?imageslim" >

          </a>
        </div>
      </div>


    </aside>
</div>
<br>
<div id="footer" >
       <div class="main">
           <div class="about auc">
               <div class="first">关于我们</div>
               <div class="follow"><a href="#">关于我们</a></div>
               <div class="follow"><a href="#">联系我们</a></div>
           </div>
           <div class="user auc">
               <div class="first">用户反馈</div>
               <div class="follow"><a href="#">意见反馈</a></div>
               <div class="follow"><a href="#">常见问题</a></div>
           </div>
           <div class="call auc">
                <div class="first">联系方式</div>
               <div class="follow"><a href="#">微信</a></div>
               <div class="follow"><a href="#">微博</a></div>
           </div>
<!--           <div class="bottom">-->
<!--                <div>企业号为：1234567890</div>-->
<!--           </div>-->
       </div>
            <style>
        *{
        margin:0;
        padding:0;
        }
        li{list-style:none;}
        a{text-decoration:none;}
        #footer{
        clear:both;
        background:	#F8F8F8;
        width:100%;
        height:100px;
        }
        #footer .main{
        width:1280px;
        height:100px;
        margin:auto;
        }
        #footer .main .auc{
        float:left;
        width:150px;
        height:80px;
        margin:5px 10px;
        }
        #footer .main .about{
        margin:5px 10px 5px 360px;
        }
        #footer .main .bottom{
        clear:both;
        width:400px;
        height:50px;
        margin:5px auto;
        }
        #footer .main .first{
        width:50%;
        margin:5px auto;
        padding-left:20px;
        }
        #footer .main .follow{
        width:50%;
        margin:5px auto;
        padding-left:20px;
        }
        #footer .main .call .follow{
        padding-left:40px;
        }
        #footer .main .first a{
        font:normal normal 17px/1.5em Sans-serif;
        }
        #footer .main .follow a{
        font:normal normal 10px/1.5em Sans-serif;
        color:#484848;
        }
    </style>
    </div>


</body>
</html>